In [1]:
#print 0 to 20 by using range
for Num in range(20):
    print(Num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
#print 10 to 20 by using range
for Num in range(10,20):
    print(Num)

10
11
12
13
14
15
16
17
18
19

In [5]:
#print number of items in the list by using len
Num=[10, 20, 14, 55, 43, 76, 87]
print("Number of items in the list:",len(Num))

Number of items in the list: 7

In [7]:
phrase= "Artificial intelligence"
print("Artificial intelligence")
for letters in phrase:
    print(letters)

Artificial intelligence
A
r
t
i
f
i
c
i
a
l

i
n
t
e
l
l
i
g
e
n
c
e

In [9]:
print("-your name-")
print("-your age-")
print("-your profession-")

-your name-
-your age-
-your profession-

In [11]:
#print this mixed datatype using tuples
my_tuple= ("1,'welcome', 2, 'Hope'")
print(my_tuple)

1,'welcome', 2, 'Hope'

In [13]:
#print this mixed datatype using tuples
my_tuple= ((0,1,2,3),('python', 'HOPE'))
print(my_tuple)

((0, 1, 2, 3), ('python', 'HOPE'))

In [15]:
#print odd numbers in the list
my_list= [20, 10, 16, 19, 25, 1, 276, 188]
for number in my_list:
    if (number %2 !=0):
        print(number, "is odd")

19 is odd
25 is odd
1 is odd

In [17]:
#print even numbers in the list
my_list= [20, 10, 16, 19, 25, 1, 276, 188]
for number in my_list:
    if (number %2 ==0):
        print(number, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even